%nav
  %div
    .flex.justify-between.h-16.px-10.shadow.items-center
      .flex.items-center.space-x-8
        %h1.text-xl.lg:text-2xl.font-bold.cursor-pointer CoLab
        .hidden.md:flex.justify-around.space-x-4
          %a.hover:text-indigo-600.text-gray-700{:href => "/"} Home
          %a.hover:text-indigo-600.text-gray-700{:href => "#"} About
          %a.hover:text-indigo-600.text-gray-700{:href => "#"} Service
          %a.hover:text-indigo-600.text-gray-700{:href => "#"} Contact
      .flex.space-x-4.items-center
        %a.text-gray-800.text-sm{:href => "#"} LOGIN
        %a.bg-indigo-600.px-4.py-2.rounded.text-white.hover:bg-indigo-500.text-sm{:href => "#"} SIGNUP